
body {
  margin: 0;
  background-image: url("https://images.wallpaperscraft.com/image/glare_background_blur_dark_63553_1920x1080.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

header {
  text-align: center;
  margin-top: 4%;
  height: 10%;
}

#key-container {
  position: absolute;
  top: 40%;
  width: 95%;
  margin: 0 2.5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#title {
  font-size: 50px;
}

#desc {
  font-size: 20px;
}

.key {
  width: 100px;
  height: 100px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.key-text {
  height: 30%;
}

.text {
  font-family: Nunito;
  color: white;
}

@media only screen and (max-width: 1076px) {
  .key {
    width: 80px;
    height: 80px;
    line-height: 3px;
  }

  #title {
    font-size: 40px;
  }

  #desc {
    font-size: 15px;
  }
}

@media only screen and (max-width: 984px) {
    #title {
      font-size: 60px;
    }

    #desc {
      font-size: 25px;
    }
}

@media only screen and (max-width: 816px) {
  .key {
    width: 70px;
    height: 70px;
    line-height: 1px;
    margin: 2%;
  }

}
